<!--{{data}}-->

<!--Type is: {{type}}-->

<!--<div ng-repeat="product in data">-->
    <!--<div class="col-xs-3">-->
        <!--<input type="{{product.name.type}}" class="form-control" ng-model="product.name.value" />-->
    <!--</div>-->
    <!--<div class="col-xs-3">-->
        <!--<input type="{{product.category.type}}" class="form-control" ng-model="product.category.value" />-->
    <!--</div>-->
    <!--<div class="col-xs-3">-->
        <!--<input type="{{product.price.type}}" class="form-control" ng-model="product.price.value" />-->
    <!--</div>-->
    <!--<div class="col-xs-3">-->
        <!--<input type="{{product.available.type}}" class="form-control" ng-model="product.available.value" />-->
    <!--</div>-->
<!--</div>-->



text


<input type="text" class="form-control"/>
