
.top-menu {
  border-bottom: 1px solid #c4c4c4;
  overflow: auto;
}


.menu-block {
  float: left;
  width: 120px;
  cursor: pointer;
  margin: 5px 0 0 10px;

  i.ion-navicon {
    float: left;
    font-size: 3rem;
  }
}

div.menu {
  border-right: 1px solid #c4c4c4;
  font-size: 1.8rem;
  margin: 6px 0 6px 35px;
  padding-right: 20px;
}

.side-menu
{
  border-right: 1px solid lightgray;
  background-color: #eeeeee;
  padding: 5px;
  width: 300px; /* Must set width for the animation effect to work properly */

  h3 {
    font-weight: 200;
    cursor: pointer;
    margin: 0;
    padding: 10px 0;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

    i {
      min-width: 50px;
      text-align: center;
    }
  }
  h3:hover {
    background-color: #cfcfcf;
  }
}

@media (min-width: 1200px) {
  .extra-side-menu-width {
    padding-left: 300px !important;
  }
}




/* search */
.searchBar {
  margin: 10px 0;
}

.fa-envelope-o {
  margin-left: -3px;
}
.search_input {
  margin-right: 0;
  outline: 0;
  padding: 5px 25px 1px 30px;
  font-size: 15px;
  width: 100%;
  border-radius: 40px;
  background: #fff;
  border: 1px solid #c9cbcd;
  height: 28px;
  display: inline-block;
  margin-bottom: 0;
}
.icon_search {
  font-size: 16px;
  color: #CCC;
  /* color: #555459; */
}
.iconSearchReset {
  font-size: 20px;
  color: #CCC;
}
.iconSearchPosition {
  margin-top: -23px;
  margin-left: 10px;
  float: left;
}
.iconSearchDarkColor {
  color: #7c7b80;
}
.iconSearchReset:hover {
  color: #7c7b80;
  cursor: pointer;
}
.iconSearchResetPosition {
  margin-top: -25px;
  margin-right: 7px;
}

.noPadding {
  padding: 0 !important;
}